<% if User.current.allowed_to?(:share_issues_with_organizations, @issue.project) %>

  <p id="organizations_form">
    <%= f.select :organization_ids,
                 options_from_collection_for_select(@issue.organizations, 'id', 'name_with_parents', @issue.organizations.map(&:id)),
                 { label: l("field_issue_organizations") },
                 { multiple: true, include_blank: true }
    %>
  </p>

  <script>
      (function () {
          let issue_organizations = [];

          <% @issue.organizations.each do |organization| %>
          issue_organizations.push({id: '<%= organization.id %>', text: '<%= organization.name_with_parents %>'});
          <% end %>
          $("#issue_organization_ids").select2({
              containerCss: {width: '500px', minwidth: '500px'},
              width: 'style',
              data: issue_organizations,
              minimumInputLength: 3,
              language: {
                  inputTooShort: function () {
                      return "Entrez au moins 3 caractères";
                  },
                  noResults: function () {
                      return "Aucune organisation ne correspond à cette recherche";
                  }
              },
              ajax: {
                  url: "/organizations/search.json?key=<%= User.current.api_key %>",
                  dataType: 'json',
                  delay: 250,
                  method: 'GET',
                  data: function (params) {
                      return {
                          organization: params.term
                      };
                  },
                  processResults: function (data, params) {
                      return {
                          results: data.organizations.map(function (org) {
                              return {
                                  id: org.id,
                                  text: org.name_with_parents
                              };
                          })
                      };
                  },
                  cache: true
              }
          }).on('select2:open', function () {
              // Forcer le focus dans la zone de texte interne de select2 lorsqu'il s'ouvre
              let searchField = $(this).data('select2').dropdown.$search || $(this).data('select2').selection.$search;
              if (searchField) {
                  searchField.focus();
              }
          });
      })();
  </script>

<% end %>
