<%= form_for @user, :url => { :controller => 'users', :action => "update", :tab => nil }, :html => { :method => :put, :class => nil } do |f| %>
  <div class="box">
  <%= f.select "organization_id", nested_set_options(Organization) { |i| i.fullname }, 
               { :include_blank => true },
               { :class => "orga-select2" } %>
  </div>
  <%= submit_tag l(:button_save) %>
<% end %>
