<% Redmine::MenuManager.map :admin_menu do |menu|
  if @settings['hide_groups_admin_menu'] == '1'
    menu.delete :groups
  elsif !menu.find(:groups)
    menu.push :groups, {:controller => 'groups'}, :caption => :label_group_plural, :after => :users
  end
end -%>
<fieldset>
<p>
  <label><%= l(:text_hide_groups_admin_menu) %></label> 
  <%= check_box_tag 'settings[hide_groups_admin_menu]', 1,
                    @settings['hide_groups_admin_menu'] %>
</p>
</fieldset>
