<%= error_messages_for 'organization' %>

<!--[form:organization]-->
<div class="box tabular">
    <p><%= f.text_field :name %></p>
    <p><%= f.text_area :description, :size => "40x3" %></p>
  </div>
<!--[eoform:organization]-->
