<%= link_to_organization organization, :link_ancestors => false %>
<%= "(#{users.count}) :" if users.any? %>
<ul class="sublist">
  <%= users.map {|u|
    "<li>" +
        link_to_user(u) +
        (organization.managers.include?(u) ? image_tag("star.png", :plugin => :redmine_organizations, :size => '16x16', class: "manager") : "") +
        (organization.team_leaders.include?(u) ? image_tag("group.png", :size => '16x16', class: "team-leader") : "") +
        "</li>"
  }.join.html_safe %>
</ul>
