<h2><%= link_to l(:label_organization_plural), organizations_path %> &#187; <%=h @organization %></h2>

<% labelled_tabular_form_for :organization, @organization, :url => {:controller=>'organizations', :action=>'update'}, :html => { :class => nil, :method => :put } do |f| -%>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p><%= submit_tag l(:button_update) %></p>
<% end -%>
