<div class="contextual">
  <% if User.current.is_admin_or_manage?(@organization) %>
    <%= link_to l(:label_organization_new), {:controller => 'organizations', :action => 'new'},
                :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= link_to l(:label_organization_plural), organizations_path %> &#187; <%=link_to_organization @organization%></h2>

<%= render_tabs organization_settings_tabs %>
